.container {
	padding: 1.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.5em;

	span {
		font-weight: 600;
		font-size: 1.5em;
	}
}

.user {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	i {
		cursor: pointer;
	}
}
